<%= form_tag delete_multiple_admin_passwords_path, :id => "passwords-index-form", :method => :get do %>
<table>
  <thead>
    <tr>
      <th scope="col"><input class="check-all" type="checkbox"></th>
      <th scope="col"><%= sortable "id", "ID" %></th>
      <th scope="col"><%= sortable "user_id", "User" %></th>
      <th scope="col"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "url" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col"><%= sortable "updated_at" %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% even_row = false %>
    <% @passwords.each do |password| %>
      <tr class="<% if even_row %>even<% else %>odd<% end %><% even_row = !even_row %>">
        <td><%= check_box_tag "passwords_ids[]", password.id %></td>
        <td><%= link_to password.id, admin_password_path(password) %></td>
        <td><%= link_to password.user.full_name, admin_user_path(password.user) %></td>
        <td><%= password.name %></td>
        <td><%= password.url %></td>
        <td><%= password.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= password.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
            <%= link_to image_tag(image_path("icons/16x16/edit.png"), :title => "Edit", :alt => "Edit"), edit_admin_password_path(password) %>
            <%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_password_path(password), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete Selected", :class => "button", :disabled => true, :id => "delete-selected-button" %>
<% end %>
<%= paginate @passwords %>
