<div id="page-info" class="in">
  <h2>Passwords</h2>
  <p>This is a list of all the site's passwords. From here you can view, modify, or delete any password.</p>
</div>
<div class="line"></div>
<div id="page-actions" class="in">
  <%= link_to "New Password", new_admin_password_path %>
  <%= form_tag admin_passwords_path, :method => :get, :id => "index-search", :class => "object-search" do %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :order, params[:order]%>
    <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div id="users" class="in">
  <%= render "passwords" %>
</div>